#header {
	color: #333333;
	padding: 1rem;
	background-size: cover;
	border-radius: 25%;
	border-style: outset;
    border-color: #660000;
    border-width: .1em;
    border-top-width: 0;
	border-left-width: 0;
	position:relative;

}

#headerimage {
	position: absolute;
	background-image: url("images/books.jpg");
	background-size: cover;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.5;
	border-radius: 25%;
}

#headerfader {
	position: absolute;
	background-image: url("images/books.jpg");
	background-size: cover;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.5;
	border-radius: 25%;
}

#titlebox {
	opacity: 1;
	color: #000000;
	margin-right: 30%;
	margin-left: 30%;
	position: relative;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 10%;
	text-align: center;
}

body {
	background-color: #cccccc;
	color: #333333;
	background-size: 100%;
	font-family: sans-serif;
}

#bottom {
	display: flex;
}

ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}

ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: block;
}

/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #000000;
    background: #cccccc;
    padding: .5em;
    width: 8em;
    display: inline-block;
    border-style: outset;
    border-color: #660000;
    border-radius: 40%;
    border-width: .1em;
    border-top-width: 0;
	border-left-width: 0;
}

ul#menu li:hover a, ul#menu li:hover ul.sub-menu li:hover a {
    background: #660000;
    border-style: inset;
    color: #cccccc;
}

/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}

/*sub menu*/
ul#menu li ul.sub-menu {
    display: none;
    position: absolute;
    width: 8em;
    left: 9em;
    bottom: 0em;
}

ul#menu li:hover ul.sub-menu {
    display: flex;
}

#menu-box {
	padding-top: 1rem;
	display: flex;
	justify-content: left;
	text-align: center;
	clear: right;
}

dt {
	font-weight: bold;
	padding-top: .5em;
	text-decoration: underline;
}

button {
	text-decoration: none;
	color: #000000;
	background: #660000;
	border-style: outset;
	border-color: #660000;
}

button:hover {
	border-style: inset;
	background: #990000;
}

#content {
	padding-left: 3em;
	padding-right: 8em;
	padding-top: 1em;
}

/* CSS classes to change "mode" */
