#header {
	color: #000000;
	border-style: double;
	border-color: #000000;	
	padding: 1rem;
	background-image: url("images/books.jpg");
	background-size: cover;
}

#titlebox {
	background-color: #660000;
	margin-right: 30%;
	margin-left: 30%;
	position: relative;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-style: inset;
	border-color: #660000;
	text-align: center;
	opacity: 1;
}

body {
	background-color: #000000;
	color: #660000;
	background-size: 100%;
}

#bottom {
	display: flex;
}

ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}

ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: block;
}

/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #000000;
    background: #660000;
    padding: .1em;
    width: 8em;
    display: inline-block;
    border-style: outset;
    border-color: #660000;
}

ul#menu li:hover a, ul#menu li:hover ul.sub-menu li:hover a {
    background: #990000;
    border-style: inset;
}

/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}

/*sub menu*/
ul#menu li ul.sub-menu {
    display: none;
    position: absolute;
    width: 8em;
    left: 8.5em;
    bottom: 0em;
}

ul#menu li:hover ul.sub-menu {
    display: flex;
}

#menu-box {
	padding-top: 1rem;
	display: flex;
	justify-content: left;
	text-align: center;
	clear: right;
}

dt {
	font-weight: bold;
	padding-top: .5em;
	text-decoration: underline;
}

button {
	text-decoration: none;
	color: #000000;
	background: #660000;
	border-style: outset;
	border-color: #660000;
}

button:hover {
	border-style: inset;
	background: #990000;
}

#content {
	padding-left: 3em;
	padding-right: 8em;
	padding-top: 1em;
}